{{>partials/header}}

    Olá, tudo bem, {{user.name}} {{user.lastName}}?
  {{#showOld}}
    <strong>Como vai a vida?</strong>
  {{/showOld}}
  {{^showOld}}
    Beleza?
  {{/showOld}}

  <hr>

  <h2>Produtos</h2>
  <ul>
    {{#products}}
      {{>partials/productItem}}
    {{/products}}
  </ul>

  <hr>

  <ul>
    {{#frasesdoDia}}
      <li>{{.}}</li>
    {{/frasesdoDia}}
    {{^frasesdoDia}}
      Não há frases motivacionais hoje!
    {{/frasesdoDia}}
  </ul>

{{>partials/footer}}