<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Home</title>
</head>
<body>
  <h1>Título da página</h1>
  <hr/>
    Olá, tudo bem, {{user.name}} {{user.lastName}}?
  {{#showOld}}
    <strong>Como vai a vida?</strong>
  {{/showOld}}

  <hr>

  <h2>Produtos</h2>
  <ul>
    {{#products}}
      <li>{{title}} - R${{price}}</li>
    {{/products}}
  </ul>

</body>
</html>